#othelloApp {
    height: 100%;
    width: 100%;
    text-align: center;
}
#othelloApp .container {
    display: inline-block;
}
#othelloBoard {
    max-width: 1000px;
    max-height: 1000px;
    border: 1px solid black;
    margin-right: 20px;
    display: inline-block;
    position: relative;
}
#othelloBoard .square {
    float: left;
    width: 12.5%;
    height: 12.5%;
    cursor: hand;
    cursor: pointer;
}
#othelloBoard .even {
    background-color: #9bcff8;
}
#othelloBoard .odd {
    background-color: #0aaeff;
}
#othelloBoard .square:hover {
    background-color: #0986c1;
}
#othelloBoard .square .black {
    width: 80%;
    height: 80%;
    margin: 10%;
    background-color: black;
    border-radius: 100%;
}
#othelloBoard .square .white {
    width: 80%;
    height: 80%;
    margin: 10%;
    background-color: white;
    border-radius: 100%;
}
#othelloBoard .notification {
    position: absolute;
    width: 60%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Chrome, Safari, Opera */
    transform: translate(0,-50%);
    text-align: left;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    overflow: scroll;
    max-height: 80%;
}
#othelloBoard .default-notification {
    background-color: rgba(217, 237, 247, 0.9);
    color: #3a87ad;
}
#othelloBoard .notification .close {
    float: right;
    font-weight: bold;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
    text-decoration: none;
}
#othelloBoard .notification .close:hover {
    color: #000000;
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: hand;
    cursor: pointer;
}
/*#othelloBoard .menu {*/
    /*position: absolute;*/
    /*text-align: center;*/
    /*padding: 10px 20px;*/
    /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);*/
    /*font-size: 16px;*/
    /*background-color: rgba(217, 237, 247, 0.9);*/
    /*border: 1px solid #bce8f1;*/
    /*color: #3a87ad;*/
    /*left: 0;*/
    /*right: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*margin: auto;*/
/*}*/
#othelloSettings {
    display: inline-block;
    vertical-align: top;
    width: auto;
}
#othelloSettings .main, #othelloSettings .difficulty {
    text-align: left;
    display: block;
}
#othelloSettings .difficulty button, #othelloSettings .main button{
    color: whitesmoke;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 10px 10px 10px 0;
    border: 0;
    background-color: #323bff;
}
@media only screen
and (min-device-width: 1024px) {
    #othelloSettings .difficulty button, #othelloSettings .main button{
        font-size: 14px;
        width: 100px;
        height: 35px;
    }
    #othelloSettings .difficulty .active{
        border: 3px solid #0aaeff;
    }
    #othelloBoard .notification {
        font-size: 16px;
        padding: 8px 35px 8px 14px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
    #othelloBoard .notification .close {
        font: 16px/100% arial, sans-serif;
        margin: 0 -25px 0 2px;
    }
}
@media only screen
and (max-device-width: 1024px) {
    #othelloSettings .difficulty button, #othelloSettings .main button{
        font-size: 28px;
        width: 250px;
        height: 80px;
    }
    #othelloSettings .difficulty .active{
        border: 9px solid #0aaeff;
    }
    #othelloBoard .notification {
        padding: 16px 70px 16px 28px;
        font-size: 38px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
    }
    #othelloBoard .notification .close {
        font: 32px/100% arial, sans-serif;
        margin: 10px -25px 0 2px;
    }
}
#othelloSettings .difficulty button:hover, #othelloSettings .main button:hover, #othelloInfo:hover{
    background-color: #2328b0;
    cursor: hand;
    cursor: pointer;
}
#othelloSettings .difficulty .active:hover{
    background-color: #323bff;
    cursor: default;
}
#othelloInfo {
    position: fixed;
    height: 30px;
    width: 30px;
    right: 20px;
    bottom: 20px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #323bff;
    color: white;
    line-height: 30px;
    font-size: 22px;
}
#othelloInfo span {
    font-size: 10%;
}