#othelloApp {
    height: 100%;
    width: 100%;
    text-align: center;
}
#othelloApp .container {
    display: inline-block;
}
#othelloBoard {
    max-width: 1000px;
    max-height: 1000px;
    border: 1px solid black;
    margin-right: 20px;
    display: inline-block;
}
#othelloBoard div {
    float: left;
    width: 12.5%;
    height: 12.5%; /*This gets rounded in some browsers and thus displays some padding above the bottom border. The solution would be to make sure that the div height is always a multiple of 8 in othello.js in the function configureWidthHeight().*/
    cursor: hand;
    cursor: pointer;
}
#othelloBoard .even {
    background-color: #9bcff8;
}
#othelloBoard .odd {
    background-color: #0aaeff;
}
#othelloBoard div:hover {
    background-color: #0986c1;
}
#othelloBoard div .black {
    width: 80%;
    height: 80%;
    margin: 10%;
    background-color: black;
    border-radius: 100%;
}
#othelloBoard div .white {
    width: 80%;
    height: 80%;
    margin: 10%;
    background-color: white;
    border-radius: 100%;
}
#othelloSettings {
    display: inline-block;
    vertical-align: top;
}
#othelloSettings .start-over {
    margin: 20px 0;
    display: block;
}
#othelloSettings .difficulty {
    display: inline-block;
}
#othelloSettings .difficulty button, #othelloSettings .start-over{
    color: whitesmoke;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-right: 10px;
    border: 0;
    background-color: #323bff;
}
@media only screen
and (min-device-width: 1024px) {
    #othelloSettings .difficulty button, #othelloSettings .start-over{
        font-size: 14px;
        width: 100px;
        height: 35px;
    }
    #othelloSettings .difficulty .active{
        border: 3px solid #0aaeff;
    }
}
@media only screen
and (max-device-width: 1024px) {
    #othelloSettings .difficulty button, #othelloSettings .start-over{
        font-size: 28px;
        width: 250px;
        height: 80px;
    }
    #othelloSettings .difficulty .active{
        border: 9px solid #0aaeff;
    }
}
#othelloSettings .difficulty button:hover, #othelloSettings .start-over:hover{
    background-color: #2328b0;
    cursor: hand;
    cursor: pointer;
}
#othelloSettings .difficulty .active:hover{
    background-color: #323bff;
    cursor: default;
}
